<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/">Вернуться к поиску вакансий</a></p>
<h2>Фильрация по параметрам</h2>
    <form method="get" action="list">
        {% csrf_token %}
        <p>Название вакансии:
            <br> <input name="name" value="{{name}}"/></p>
        </p>
        <p>Опыт
            <br> <input name="experience" value="{{experience}}"/></p>
        <p>Зарплата от {{salary}}
            <br> <input name="salary"  value="{{salary}}"/></p>
        <p>Вступительный тест {{has_test}}
            <br> <input type="checkbox" name="has_test"/></p>
        <input type="submit" value="Применить фильтр" />
    </form>
<br>
<table>
    <tr>
        <td>Название</td>
        <td>Зарплата от</td>
        <td>Требуемый опыт</td>
        <td>Тестирование</td>
        <td>Локация</td>
        <td>Описание</td>
    </tr>
    {% for element in list %}
    <tr>
        {% for property in element %}
        <td>
            {% autoescape off %}
            {{property}}
            {% endautoescape %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>